li{
  list-style:none;
}

header{
  height:70px;
  background-color:#444444;
}

.header-title{
  float:left;
  color:#FF99CC;
  font-family:"arial black";
  padding-left:50px;
}

.header-list li{
  float:right;
  line-height:70px;
  padding-right:40px;

}

.header-list a{
  color:white;
  text-decoration: none;
}

.log{
  width:100%;
}

.profile{
  background-image:url("ramiro-mendes-CjS3QsRuxnE-unsplash.jpg");
  background-size:cover;
  width:100%;
  height:700px;
  margin-top:0px;

}

.title{
  text-align:center;
  font-family:cursive;
  font-size:40px;
  padding-bottom:15px;
  margin-bottom:15px;
  border-bottom:1px solid #444444;
  margin-top:0px;
  padding-top:20px;
}

.profile-contents{
  margin-top:50px;
}

.profile-image{
  width:375px;
  height:375px;
  float:left;
  border-radius:50%;
  margin-left:100px;
}

.introduction{
  float:left;
  padding-left:150px;
  font-size:18px;
  margin-top:40px;
}

.blog{
  background-color:#DCDCDC;
  height:700px;
}

.content-icon img{
  width:300px;
  height:300px;
  border-radius:50%;
  opacity:0.8;
  position:relative;
}

.contents{
  text-align:center;
  padding-top:30px;
}

.content{
  float:left;
  width:33%;
}

.text-contents{
  font-size:8px;
  width:80%;
  display:inline-block;
  color:#444444	;
  display:none;
}

.active{
  display:inline-block;
}

.please{
  text-align:center;
  font-color:;
  font-size:26px;
}

.contact{
  height:500px;
  background-image:url("thomas-heintz-0tgMnMIYQ9Y-unsplash.jpg");
}

.contact img{
  width:200px;
  height:200px;
  border-radius:25%;
  opacity:0.8;
  position:relative;
}

.form{
  text-align:center;
  float:left;
  width:33%;
}

.btn{
  color:white;
  display:inline-block;
  margin-top:95px;
  background-color: #5dca88;
  padding:10px 20px;
  box-shadow:0px 7px #1a7940;
  cursor:pointer;
}

.btn:active{
  box-shadow:none;
  position:relative;
  top:7px;
}

footer{
  height:60px;
  background-color:#444444;
  margin-top:0px;
}
.to-blog{
  text-align:center;

}

.to-blog a{
    display:inline-block;
  color:white;
  font-size:18px;
  line-height:60px;
  font-family:cursive;
}

.contact-modal-wrapper{
  position:absolute;
  top:320%;
  left:40%;
  z-index:100;
  background-color:#EEEEEE;
  width:300px;
  height:300px;
  text-align:center;
  display:none;
}

.close-modal{
  position:absolute;
  top:12px;
  left:265px;
  cursor:pointer;
}

.modal{
  padding:30px;
}
